PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOQIBAAJBAKsE5vJY4ecvMZ7UQ1R/4Yv0ybP33kfZJf4AtlqIG6kgpjVYy31i\nbItvOnRQyW2lGUzaZdxy/l3BV0vuO2xLoI8CAwEAAQJAcJpOsb0CKOTzB//8wRNe\nX3dyo1OOAMKieEbhymQZylYH1wC6zwV0iMv7QiaHfDnHTaALzKuW/OoU7paCDOSm\nYQIhAN940iDu9cr4OCLN0TtJesZTDX/21Ot3/BDbFj85ZDy/AiEAw+mLqygye14F\nHAQa3k4ExfE7R0uGvJ2uuFmIHCrkADECIEBD/7Hm5pqjPYmMxPIW1I76TXSSaHL7\nA2tZhhFSkOgDAiATy59fNfqT2JYvlIKaf8ufrJZOx+TfXhdvbSyBnBvZoQIgMqm5\nNMY2gAtNaoqSvQvDo5asFnxw8sE8ipLUcLoLNsI=\n-----END RSA PRIVATE KEY-----"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKsE5vJY4ecvMZ7UQ1R/4Yv0ybP33kfZ\nJf4AtlqIG6kgpjVYy31ibItvOnRQyW2lGUzaZdxy/l3BV0vuO2xLoI8CAwEAAQ==\n-----END PUBLIC KEY-----"
ALGO=RS256
TOKEN_EXP=2 days
ISSUER=tokenIssuer
DB_HOST=localhost
DB_PORT=3306
DB_USER=my_db_user
DB_PASSWORD=my_db_password
DB_NAME=my_db_name
DB_DIALECT=mysql
